html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100%;
    padding-top: 78px;
}

#header {
    display: flex;
    align-items: center;
    position: fixed;
    top:0px;
    width: 100%;
    box-shadow: -1px 1px 28px -6px rgba(0,0,0,0.37);
    -webkit-box-shadow: -1px 1px 28px -6px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px 1px 28px -6px rgba(0,0,0,0.37);
    padding: 12px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: white;
    z-index: 100;
}

.headerLink {
    color: #3d4152 ;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
}

.headerAddress {
    flex:1;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 13px;
    color: rgb(100, 100, 100);
}

.headerCity {
    display: inline-block;
    font-weight: 600;
    color: rgb(41, 41, 41);
    border-bottom: 2.5px solid black;
}

#bluebanner {
    background-color: #171a29;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

#sideNav {
    position:sticky;
    top: 78px;
    left: 80px;
    width: 250px;
    box-shadow: -1px 1px 7px -1px rgba(0,0,0,0.48);
    -webkit-box-shadow: -1px 1px 7px -1px rgba(0,0,0,0.48);
    -moz-box-shadow: -1px 1px 7px -1px rgba(0,0,0,0.48);
    background-color: white;
    height: 500px;
    padding-top: 35px;
    padding-right: 8px;
}

.sideNavInner {
    padding: 17px;
    display: flex;
    align-items: center;
    color: rgb(59, 59, 59);
}

.sideNavText {
    padding-left: 14px;
    font-weight: 600;
    font-size: 14px;
}

.sideNavSmalleText {
    font-size: 10px;
    font-weight: 400;
}

.selected {
    background-color: #e46d47;
    color: white !important;
}

.imgShadow {
    border-radius: 20px;
    box-shadow: 2px 0px 10px -1px rgba(0,0,0,0.31);
    -webkit-box-shadow: 2px 0px 10px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 2px 0px 10px -1px rgba(0,0,0,0.31);
}

.sideNavInner:hover {
    color: #e46d47;
}

#main{
    margin-top: -500px;
    padding: 10px;
    padding-left: 340px;
    text-align: justify;
}

